/** Media **/
@media( max-width: 1100px )
  .design
    &-form
      width: 95%

@media( max-width: 992px )
  section
    padding: 10% 0

  .main
    &__title
      font-size: 38px

  .design
    background: none
    text-align: center
    &__wrap
      width: 60%
      margin: auto
    &__title
      margin: 0 auto 30px
      width: 100%
    &__subtitle
      margin: 0 auto 30px
      width: 100%
    &-form
      width: 100%

  .price
    &__block
      flex-basis: 48%


@media( max-width: 910px )
  .main
    &__wrap
      flex-direction: column
      align-items: center
    &-content
      text-align: center
    &-descr
      text-align: left
    &-img
      margin-top: 40px
      padding: 0
      text-align: center

@media( max-width: 810px )
  .design
    &__title
      max-width: 350px
    &__wrap
      width: 100%

@media( max-width: 575px )
  .header
    &-contacts
      &__block
        display: none

  .price
    &__block
      flex-basis: 100%

@media( max-width: 485px )
  .design
    &__subtitle
      width: 240px
    &-form
      &__grup
        flex-direction: column
      &__input
        width: 100%
        margin-bottom: 20px
    &-contacts
      &__blocks
        flex-direction: column
        align-items: center
      &__block
        width: 100%
        margin-top: 18px

@media( max-width: 395px )
  .main
    &__title
      font-size: 32px

@media( max-width: 360px )
  .header-logo
    width: 40%