/** Media **/
@media( max-width: 992px )
  section
    padding: 10% 0

@media( max-width: 575px )
  .header
    &-contacts
      &__block
        display: none

@media( max-width: 360px )
  .header-logo
    width: 40%