/*basic settings*/
@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.eot");
  src: local("MuseoSansCyrl-300"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl/") format("woff2"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.woff") format("woff"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.ttf") format("truetype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.svg#MuseoSansCyrl-300") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.eot");
  src: local("MuseoSansCyrl-700"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.woff2") format("woff2"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.woff") format("woff"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.ttf") format("truetype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.svg#MuseoSansCyrl-700") format("svg");
  font-weight: 700;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Museo Sans Cyrl', sans-serif;
  font-weight: 300;
}

img {
  max-width: 100%;
}

section {
  padding: 7% 0;
}

.container {
  max-width: 1170px;
  width: 95%;
  margin: 0 auto;
}

.button {
  background-color: #ffd200;
  padding: 20px 30px;
  border-radius: 10px;
  cursor: pointer;
}

.button:hover {
  background-color: #ffdb33;
}

/** <header class="header"> **/
.header {
  padding: 20px 0;
}

.header__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-contacts__block {
  text-align: right;
  margin-right: 30px;
}

.header-contacts__address {
  font-size: 13px;
  color: #797979;
  margin-bottom: 10px;
}

.header-contacts__phone {
  font-size: 20px;
  font-weight: 700;
  color: #000;
}

.header__btn {
  font-size: 13px;
  font-weight: 700;
}

/** <main class="main"> **/
.main {
  background-color: #f5f5f5;
  padding: 50px 0;
}

.main__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-content {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.main__title {
  font-size: 41px;
  font-weight: 700;
  line-height: 1.4;
}

.main__subtitle {
  display: block;
  font-size: 20px;
  font-weight: 700;
  margin-top: 50px;
}

.main-descr {
  margin-top: 70px;
  display: inline-block;
}

.main-descr__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.main-descr__item:last-child {
  margin-bottom: 0;
}

.main-descr__img {
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid #ffd200;
  border-radius: 50%;
  margin-right: 30px;
}

.main-descr__text {
  font-size: 14px;
  max-width: 240px;
  line-height: 1.5;
}

.main-img {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  text-align: right;
  padding-left: 15px;
}

/** Media **/
@media (max-width: 992px) {
  section {
    padding: 10% 0;
  }
  .main__title {
    font-size: 38px;
  }
}

@media (max-width: 910px) {
  .main__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main-content {
    text-align: center;
  }
  .main-descr {
    text-align: left;
  }
  .main-img {
    margin-top: 40px;
    padding: 0;
    text-align: center;
  }
}

@media (max-width: 575px) {
  .header-contacts__block {
    display: none;
  }
}

@media (max-width: 395px) {
  .main__title {
    font-size: 32px;
  }
}

@media (max-width: 360px) {
  .header-logo {
    width: 40%;
  }
}
