@charset "UTF-8";
/*basic settings*/
@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.eot");
  src: local("MuseoSansCyrl-300"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl/") format("woff2"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.woff") format("woff"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.ttf") format("truetype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.svg#MuseoSansCyrl-300") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.eot");
  src: local("MuseoSansCyrl-700"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.woff2") format("woff2"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.woff") format("woff"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.ttf") format("truetype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.svg#MuseoSansCyrl-700") format("svg");
  font-weight: 700;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Museo Sans Cyrl', sans-serif;
  font-weight: 300;
}

img {
  max-width: 100%;
}

section {
  padding: 7% 0;
}

.container {
  max-width: 1170px;
  width: 95%;
  margin: 0 auto;
}

.form__input {
  font-size: 15px;
  color: #a0a0a0;
  border: 1px solid #dddddd;
  border-radius: 10px;
  padding: 25px 30px;
}

.button {
  background-color: #ffd200;
  font-size: 16px;
  font-weight: 700;
  padding: 30px;
  border-radius: 10px;
  cursor: pointer;
}

.button:hover {
  background-color: #ffdb33;
}

.section-title {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  line-height: 1.3;
}

strong {
  font-weight: 700;
}

/** <header class="header"> **/
.header {
  padding: 20px 0;
}

.header__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-contacts__block {
  text-align: right;
  margin-right: 30px;
}

.header-contacts__address {
  font-size: 13px;
  color: #797979;
  margin-bottom: 10px;
}

.header-contacts__phone {
  font-size: 20px;
  font-weight: 700;
}

.header-contacts__phone a {
  color: #000;
}

.header__btn {
  font-size: 13px;
  font-weight: 700;
  padding: 20px 30px;
}

/** <main class="main"> **/
.main {
  background-color: #f5f5f5;
  padding: 50px 0;
}

.main__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-content {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.main__title {
  font-size: 41px;
  font-weight: 700;
  line-height: 1.4;
}

.main__subtitle {
  display: block;
  font-size: 20px;
  font-weight: 700;
  margin-top: 50px;
}

.main-descr {
  margin-top: 70px;
  display: inline-block;
}

.main-descr__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.main-descr__item:last-child {
  margin-bottom: 0;
}

.main-descr__img {
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid #ffd200;
  border-radius: 50%;
  margin-right: 30px;
}

.main-descr__text {
  font-size: 14px;
  max-width: 240px;
  line-height: 1.5;
}

.main-img {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  text-align: right;
  padding-left: 15px;
}

/** <section class="design"> **/
.design {
  position: relative;
  background: #fff url(../img/design/design-bg.jpg) center right no-repeat;
  background-size: contain;
  z-index: 1;
}

.design__wrap {
  width: 50%;
}

.design__wrap::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 50%;
  background-color: #fff;
  z-index: -1;
}

.design__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.4;
  margin-bottom: 30px;
  width: 350px;
}

.design__subtitle {
  font-size: 16px;
  margin-bottom: 30px;
  width: 240px;
  line-height: 1.3;
}

.design-form {
  width: 80%;
}

.design-form__grup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.design-form__input {
  width: 48%;
  margin-bottom: 30px;
}

.design-form__btn {
  width: 100%;
}

.design-contacts__blocks {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.design-contacts__block {
  font-size: 15px;
  line-height: 1.5;
  width: 50%;
}

.design-contacts__tel {
  font-size: 15px;
  font-weight: 700;
  color: #000;
}

/** <section class="work"> **/
.work {
  background: #f5f5f5 url(../img/work/work-bg.jpg) top left repeat-y;
  background-size: 50%;
}

.work__title {
  margin-bottom: 8%;
}

.work-slider__item {
  padding: 10px;
}

.work-slider__item img {
  margin: auto;
}

.work__arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 60px auto 0;
  width: 120px;
  cursor: pointer;
}

/** Ремонт дач и коттеджей **/
.price-section__title {
  max-width: 540px;
  margin: auto;
}

.price-section__subtitle {
  font-size: 20px;
  text-align: center;
  margin: 50px auto 30px;
}

.price__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.price__block {
  -ms-flex-preferred-size: 32%;
      flex-basis: 32%;
  margin-top: 30px;
  text-align: center;
  border: 1px solid #e8e8e8;
}

.price__block:hover {
  -webkit-box-shadow: 1px 1px 15px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 1px 15px 3px rgba(0, 0, 0, 0.1);
}

.price__img {
  position: relative;
  margin-bottom: 40px;
}

.price__img img {
  display: block;
  width: 100%;
}

.price__img:hover:before {
  height: 100%;
}

.price__img:before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  background: url(../img/price/price-hover.png) center;
  background-size: cover;
}

.price__title {
  font-size: 18px;
  margin-bottom: 40px;
}

.price__btn {
  position: relative;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 40px;
  padding: 0 0 3px;
  background: none;
  cursor: pointer;
  z-index: 1;
}

.price__btn:hover::after {
  height: 10px;
}

.price__btn::after {
  position: absolute;
  display: block;
  content: '';
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #ffd200;
  z-index: -1;
}

/** <section class="steps"> **/
.steps-section__title {
  max-width: 670px;
  margin: 0 auto 60px;
}

.steps-section__subtitle {
  text-align: center;
}

.steps__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.steps__block {
  position: relative;
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  margin-top: 50px;
  text-align: center;
}

.steps__block:last-child::before {
  display: none;
}

.steps__block::before {
  position: absolute;
  display: block;
  content: '';
  top: -15%;
  right: -20%;
  width: 70px;
  height: 30px;
  background: url(../img/steps/steps-arrow.png) center no-repeat;
}

.steps__img {
  border: 3px solid #ffd200;
  width: 100px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  border-radius: 50%;
}

.steps__text {
  margin-top: 30px;
  font-size: 14px;
  line-height: 1.2;
}

/** <section class="material"> **/
.material-offer {
  background-color: #ffc000;
}

.material__title {
  font-size: 32px;
  max-width: 920px;
  text-align: center;
  margin: auto;
  line-height: 1.5;
}

.material__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.material-block {
  position: relative;
  -ms-flex-preferred-size: 32%;
      flex-basis: 32%;
}

.material__description {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 16px;
  line-height: 1.3;
  padding: 20px;
}

/** <section class="guarantee"> **/
.guarantee-section__title {
  max-width: 650px;
  margin: 0 auto 50px;
}

.guarantee__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.guarantee__block {
  margin-top: 40px;
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  text-align: center;
}

.guarantee__description {
  font-size: 18px;
  line-height: 1.2;
  margin-top: 30px;
}

/** <section class="request"> **/
.request {
  background: url(../img/request/request-bg-1.jpg), url(../img/request/request-bg-2.jpg);
  background-position: left center, center right;
  background-size: 50%, contain;
  background-repeat: repeat-y, no-repeat;
}

.request__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.request__title {
  font-size: 22px;
  font-weight: 700;
  line-height: 1.4;
}

.request__subtitle {
  font-size: 16px;
  margin-top: 50px;
  line-height: 1.2;
}

.request-interview {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding-right: 2%;
}

.request-interview__list {
  margin-top: 90px;
}

.request-interview__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 25px;
}

.request-interview__item:last-child {
  margin-bottom: 0;
}

.request-interview__number {
  margin-right: 35px;
  width: 36px;
  height: 36px;
  border: 2px solid #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
}

.request-interview__text {
  max-width: 370px;
  line-height: 1.3;
}

.request-form {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  text-align: center;
}

.request-form__title {
  max-width: 370px;
  margin: auto;
}

.request-form__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 50px auto 35px;
  max-width: 370px;
}

.request-form__input {
  margin-bottom: 15px;
}

.request-form__btn {
  margin-top: 15px;
}

.request-form__small {
  font-size: 15px;
}

/** <section class="contact"> **/
.contact {
  position: relative;
  padding: 0;
}

.contact__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.contact-map {
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  left: 0;
}

.contact-map img {
  height: 100%;
  width: 100%;
}

.contact-connection {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 7% 0;
}

.connection__title {
  font-size: 22px;
  font-weight: 700;
  max-width: 300px;
  line-height: 1.5;
}

.connection__list {
  margin-top: 70px;
}

.connection__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
  line-height: 1.3;
  margin-bottom: 40px;
}

.connection__item:last-child {
  margin-bottom: 0;
}

.connection__item a {
  color: #000;
}

.connection__img {
  margin-right: 25px;
}

/** Media **/
@media (max-width: 1100px) {
  .design-form {
    width: 95%;
  }
  .guarantee__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 992px) {
  section {
    padding: 10% 0;
  }
  .main__title {
    font-size: 38px;
  }
  .design {
    background: none;
    text-align: center;
  }
  .design__wrap {
    width: 60%;
    margin: auto;
  }
  .design__title {
    margin: 0 auto 30px;
    width: 100%;
  }
  .design__subtitle {
    margin: 0 auto 30px;
    width: 100%;
  }
  .design-form {
    width: 100%;
  }
  .price__block {
    -ms-flex-preferred-size: 48%;
        flex-basis: 48%;
  }
  .material__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .material-block {
    margin-bottom: 30px;
  }
  .material-block:last-child {
    margin: 0;
  }
  .material__title {
    font-size: 28px;
    line-height: 1.3;
  }
  .request {
    background: url(../img/request/request-bg-1.jpg), url(../img/request/request-bg-2.jpg);
    background-position: top center, center bottom;
    background-size: 100% 50%, cover;
    background-repeat: repeat-x, no-repeat;
  }
  .request__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .request-interview {
    max-width: 500px;
    padding: 0;
    margin: auto;
  }
  .request-form {
    padding-top: 20%;
  }
}

@media (max-width: 910px) {
  .main__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main-content {
    text-align: center;
  }
  .main-descr {
    text-align: left;
  }
  .main-img {
    margin-top: 40px;
    padding: 0;
    text-align: center;
  }
  .steps__block {
    -ms-flex-preferred-size: 33%;
        flex-basis: 33%;
  }
  .steps__block::before {
    display: none;
  }
}

@media (max-width: 810px) {
  .design__title {
    max-width: 350px;
  }
  .design__wrap {
    width: 100%;
  }
  .contact {
    position: static;
  }
  .contact__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact-map {
    position: static;
    width: 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .contact-connection {
    margin: auto;
    width: 100%;
  }
  .connection__list {
    margin-top: 50px;
  }
}

@media (max-width: 575px) {
  section {
    padding: 15% 0;
  }
  .header-contacts__block {
    display: none;
  }
  .price__block {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .steps__block {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .guarantee-section__title {
    margin: auto;
  }
}

@media (max-width: 485px) {
  .design__subtitle {
    width: 240px;
  }
  .design-form__grup {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .design-form__input {
    width: 100%;
    margin-bottom: 20px;
  }
  .design-contacts__blocks {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .design-contacts__block {
    width: 100%;
    margin-top: 18px;
  }
  .request-interview__list {
    margin-top: 50px;
  }
  .request-interview__text {
    -ms-flex-preferred-size: 80%;
        flex-basis: 80%;
  }
}

@media (max-width: 395px) {
  .main__title {
    font-size: 32px;
  }
}

@media (max-width: 360px) {
  .header-logo {
    width: 40%;
  }
}
